@import "../abstracts/variables";
@import '../abstracts/mixins';

	button{
		font-size: 1rem;
		text-transform: uppercase !important;
		color: white !important;
		padding: 10px 15px;
		border-radius: 5px;
		border:none;
		margin: 0px 5px;
		outline: none !important;
		@include boxShadow;
	}
.light-btn{
		background: $theme-light;	
		border: 3px solid $theme-light;		
		font-weight: 600;

}
.light-btn:hover{
	background: none;
	// border: 2px solid $theme-light;	
	color: $theme-light !important;	
}
.yellow-btn{
	color: white !important;
	background: $btn-blue;
	border: 2px solid $btn-blue;		

}
.yellow-btn:hover{
	background: none;
	border: 2px solid $btn-yellow;	
	color: $btn-yellow !important;
		font-weight: bold;	
}
.gallery-btn{
	background: $text-color;
	color: $theme-dark !important;
	border: none;
}
.fa-cart-plus{
	font-size: 2rem;

}
.fa-cart-plus:hover{
	color: #48dbfb;
}
.dark-btn{
	background: #00cec9;
	border: 2px solid $theme-dark;
}
// --------------------------------------------/
@media (max-width: $large) {
	section.current-appeals {
		.appeals-container{
			.card-body{
				.btn-donate {
					font-size: 1rem;
				}	
			}
		}
	}
}