@import "../abstracts/variables";
@import '../abstracts/mixins';

	button{
		font-size: 1.2rem;
		text-transform: uppercase !important;
		color: white !important;
		padding: 10px 15px;
		border-radius: 5px;
		border-bottom:none;
		margin: 0px 5px;
		outline: none !important;
		@include boxShadow;
	}
.light-btn{
		background: $theme-light;		
}
.yellow-btn{
	color: black !important;
	background: $btn-yellow;
}
.gallery-btn{
	background: $text-color;
	color: $theme-dark !important;

}
// --------------------------------------------/
@media (max-width: $large) {
	section.current-appeals {
		.appeals-container{
			.card-body{
				.btn-donate {
					font-size: 1rem;
				}	
			}
		}
	}
}