@use "./_variables.scss";

// Gradient
@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($theme-dark, 0.95),
    rgba($theme-light, 0.95)
  );
}

@mixin boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@mixin toAlign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
