$max-width: 1400px !default;

$theme-dark: #006b7c !default;
$theme-light: #3ba2a8;
$theme-contrast: #eca140;

$text-color: #fff;
$text-black: #000;

$btn-blue: #1fbdc4;
$btn-light-blue: #1fbdc4;
$btn-yellow: #eca140;
$light-yellow: #ffeaa7;
$event-home-image:url(../images/event_front_page.jpeg);
$banner-about-image:url(../images/abstract.png);
$impact-about-image:url(../images/steps.png);

$large: 1200px;
$medium: 990px;
$small: 650px;