@import '../abstracts/mixins';

footer {
	h1 {
		font-weight: bold;
		font-size: 3rem;
	}
	background: $theme-light;
	text-align: center;
	padding: 2rem 2.2rem;
	color: $text-color;
	.subscribtion {
		@include boxShadow;
		button {
			border: none;
		}
		h3 {
			color: $theme-light;
		}
		height: 100%;
		padding: 1rem;
		background: $text-color;
	}
	.social-pages {
		display: flex ;

		border: 1px solid $text-color;
		height: 100%;
		justify-content: space-around;
		align-items: center;
		.social-accounts {
			font-size: 2rem;
			display: flex;
			a {
				margin: 0 1rem;
				background: $text-color;
				color: $theme-light;
				padding: .6rem 1rem;
				border-radius:10px;
				@include boxShadow;
				
			}
		}
	}
}


$breakpoint1: 777px;
$breakpoint2: 550px;
@media (max-width: $breakpoint1) {
	footer{
		h1{
			font-size: 2rem;
		}
	}
  .social-pages{
	padding: 1rem;
	h2{
		font-size: 1.2rem;
	}
	.social-accounts{
		a{
		font-size: 1rem !important;

		}
	}
  }
}

@media (max-width: $breakpoint2) {
	.social-pages{
		display:inline-block !important;
	  padding: 1rem;
	  h2{
		  font-size: 1.2rem;
	  }
	  .social-accounts{
		  a{
		  font-size: .8rem !important;
			margin: 0 .2rem !important;
		  }
	  }
	}
  }