@import "../abstracts/variables";
@import '../abstracts/mixins';
@import '../base/fonts';

.home-carousel{
    margin: 0 !important;
    // z-index: -1;
    .carousel-item {
        background: rgba(0, 0, 0, .9);
        position: relative !important;
        .carousel-content{
            position: absolute !important;
           background: $light-yellow !important;
           margin-top: -16%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            @include boxShadow;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            padding: 1rem;
            span{
                color: #48dbfb;
            }
        }
    
}
    }
    

.widget-btn{
    position: fixed;
    right: 0rem;
    z-index: 999;
    top: 5rem;
    height: 100%;
    transition: ease-in-out .3s all;
    padding: 0 !important;
    .widget{
        transform: rotate(-90deg);
        position: absolute;
          z-index: 999;
        left: -6.5rem;
        bottom: 50%;
        background-color: #22a6b3;
        transform: rotate(-90deg), translateX(-50%);
        // padding: .5rem 2rem;
        i{
            margin: 0 .7rem;
            color: $light-yellow;

            }
        }
    .card{
    background: $btn-blue;
    // display: none;
    width: 20rem;
    height: 100%;
    // width: 0;
    @include boxShadow;

    }
    .widget-card{
        position: relative;
        padding: 1rem;
        height: 100%;
        .card-header{
            padding: 0 0 1rem 0;
            background: none;
            @include toAlign;
            .light-btn{
                border:2px solid $theme-dark
            }
        }
        .card-body{
            padding: 0;
        //  height: 60%;
            width: 100%;
            form{
                // @include toAlign;
                margin-top: 3rem;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                height: 100%;
                width: 100%;
                input, button, select,.prices{
                width: 100%;
                margin: .4rem auto;
                }
                select, input{
                    padding: .7rem .4rem;
                }
                .prices{
                    @include toAlign;
                    justify-content: space-between;
                    margin: 1rem auto;
                    .price{
                        @include boxShadow;
                        border-radius: 3px;
                        background: white;
                        padding: .8rem;
                    }
                }
            }
        }
    }
 
   
}
// ----------------current appeals----------
.current-appeals{
    // padding:4rem 2rem;
    .card, .card-footer, .card-header, .card-body{
        border: none;
        background: none;
        padding: 0 !important;
        box-shadow: none !important;
      }
    margin: 6rem auto;
    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $theme-dark;
        background: #dfe6e9;
        padding: 0 1rem !important;
    }
    .card-footer{
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        background: $theme-dark;
        color: $text-color;
        .left{
            padding: 1rem;
        }
        .right{
            background-color: $theme-light;
            // height: 100%;
            margin: 0 !important;
            font-size: 2.5rem;
            padding: 1.2rem !important;
            
        }
    }
	.events{
		display: flex;
		position: relative;
        background: $theme-dark;
        // background: yellow;

        .left{
            flex: 1.6;
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
            background: $theme-dark;
            @include toAlign;
            flex-direction: column;
            justify-content: space-evenly;
            color: white;
            div{
                @include toAlign;
                flex-direction: column;
                justify-content: space-evenly;
                color: white;
            }
            h2{
                font-size: 2.7rem;
            }
            button{
                border: white !important;
                color: $theme-dark;
            }
            
        }
        .right{
            flex: 2;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
            // border-left: px solid $light-yellow;


        }
	}
   
}
	
// ------------------blogs------------------
.blogs{
    background: #f1f1f1;
    padding-bottom: 5rem;
    .bg-img{
        width: 2.2rem;
        position: absolute;
    }
    
    .butterfly{
        left: 30%;
        top:10%;
        transform: rotate(-45deg);

    }
    .line{
        right: 30%;
        top: 5%;
    }
    .horses{
        top: 90%;
        right: 2%;
    }
    .balloon{
        top: 90%;
        left: 2%;
        transform: rotate(-45deg);
    }
    .stars{
        right: 1%;
        top: 10%;
    }
    .squiggle{
        transform: rotate(-45deg);
        top:4%;
        left: 4%;
    }
     .fa-clock, h3{
        margin: 1.3rem 0;
        color: $theme-light;
    }
    .card{
		@include boxShadow;
        
    }
    .card, .card-header, .card-footer{
        background: white !important;
    }
    .card:hover h3, .card:hover a{
        color: $theme-dark
    }
    a{
        text-decoration: none;
        font-weight: 700;
        color: $theme-light;
    }
}

.taglines{
    margin: 3rem auto;
    .smile{
        @include toAlign ;
        background: $light-yellow;
        // align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding: 1rem;
        h5{
            letter-spacing: 6px;
        }
        img{
            margin: -7px 0 0 1rem ;
            width:2rem
        }
    }
}
.tag{
    margin: .8rem 0 0.8rem 0;
    color: white;
    .tag1{
        background: #95a5a6;
        background: #74b9ff;
        width: 100%;
        @include toAlign;
        @include boxShadow;

    }
    .tag2{
        @include boxShadow;
        @include toAlign;
        width: 100%;
        background: #22a6b3
    }
    .tag3{
        @include boxShadow;
        @include toAlign;
        width: 100%;
        background: #00cec9;
    }
    img{
        width: 3rem;
    }
}
.donations{
    text-align: center;
    h4{
        color: $theme-dark;
        padding: .5rem 0;
    }
    button{
        color: white !important;
    }
    .card{
        border-top: 8px solid $light-yellow;
    }
}

// --------------------------MEDIA QUERIES----------------
@media (max-width: 1000px){
    .events{
        display: block !important;
        .left{
            padding: 1rem;
        }
        .right{
            clip-path: none !important;
        }
    }
}
@media (min-width:1200px) and (max-width:1500px){
    .carousel-inner{
        width: 85%;
        margin: auto;
    }
}
@media (max-width: 770px){
    .blogs{
        padding: 0 !important;
        .container{
            .col-12{
                width: 100% !important;
                margin: 0 !important;
            }
        }
        .bg-img{
            display: none;
        }
    }
    
	.current-appeals{
		.left{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.card-header{
			h1{
				font-size: 1.3rem;
			}
		}
		.card-footer{
			h3{
				font-size: 1.1rem;
			}
		}
	}
    .event-tilt{
        h2{
            font-size: 1.3rem;
        }
        h4{
            display: none;
        }
        .gallery-btn{
            width: 100% !important;
            font-size: .8rem;
        }
    }
}

@media (max-width: 650px){
    .current-appeals{
        h2{
            font-size: 1rem;
        }
        .event-tilt{
           
            .gallery-btn{
                font-size: .5rem;
            }
        }
    }
    
}
@media (max-width: 480px){
    .smile{
        flex-direction: column-reverse;
        h5{
            text-align: center;
            margin: 1rem auto;
        }
    }
}