@import "../abstracts/variables";
@import '../abstracts/mixins';
@import '../base/fonts';

.home-carousel{
    margin: 0 !important;
    // z-index: -1;
    .carousel-item {
        background: rgba(0, 0, 0, .9);
        position: relative !important;
        .carousel-content{
            position: absolute !important;
           background: $light-yellow !important;
           margin-top: -16%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            @include boxShadow;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            padding: 1rem;
            span{
                color: #48dbfb;
            }
        }
    
}
    }
    


// ----------------current appeals----------
.current-appeals{
    background: #dfe6e9;
    padding:4rem 2rem;
    .card, .card-footer, .card-header, .card-body{
        border: none;
        background: none;
        padding: 0 !important;
        box-shadow: none !important;
      }
    margin: 6rem auto;
    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $theme-dark;
        background: white !important;
        padding: 0 1rem !important;
    }
    .card-footer{
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        background: $theme-dark;
        color: $text-color;
        .left{
            padding: 1rem;
        }
        .right{
            background-color: $theme-light;
            // height: 100%;
            margin: 0 !important;
            font-size: 2.5rem;
            padding: 1.2rem !important;
            
        }
    }
	.event{
		display: flex;
		position: relative;
		.event-tilt{
			clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
			background: $theme-dark;
			height: 100%;
			width: 50%;
			z-index: 99;
			position: absolute;
			flex: 1;
			padding: 3rem;
			color: $text-color;
			display: flex;
			justify-content: center;
			// align-items: center;
			flex-direction: column;
			h2{
				margin: 2rem 0;
			}
		}
		.event-img{
			flex: 2;

		}
	}
   
}
	
// ------------------blogs------------------
.blogs{
    padding: 4rem 2.2rem;
    background: #f1f1f1;
     .fa-clock, h3{
        margin: 1.3rem 0;
        color: $theme-light;
    }
    .card{
		@include boxShadow;
        
    }
    .card, .card-header, .card-footer{
        background: white !important;
    }
    .card:hover h3, .card:hover a{
        color: $theme-dark
    }
    a{
        text-decoration: none;
        font-weight: 700;
        color: $theme-light;
    }
}

.taglines{
    .smile{
        @include toAlign ;
        background: $light-yellow;
        // align-items: center;
        justify-content: center;
        padding: 1rem;
        h5{
            letter-spacing: 6px;
        }
        img{
            margin: -7px 0 0 1rem ;
            width:2rem
        }
    }
}
.tag{
    margin: 2rem auto;
    color: white;
    .tag1{
        background: #95a5a6;
        width: 100%;
        @include toAlign;
        @include boxShadow;

    }
    .tag2{
        @include boxShadow;
        @include toAlign;
        width: 100%;
        background: #2980b9;
    }
    .tag3{
        @include boxShadow;
        background: #8e44ad;
        @include toAlign;
        width: 100%;
    }
    img{
        width: 3rem;
    }
}
.donations{
    text-align: center;
    h4{
        color: $theme-dark;
        padding: .5rem 0;
    }
    button{
        color: white !important;
    }
    .card{
        border-top: 8px solid $light-yellow;
    }
}

// --------------------------MEDIA QUERIES----------------
@media (max-width: 770px){
	.current-appeals{
		.left{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.card-header{
			h1{
				font-size: 1.3rem;
			}
		}
		.card-footer{
			h3{
				font-size: 1.1rem;
			}
		}
	}
    .event-tilt{
        h2{
            font-size: 1.3rem;
        }
        h4{
            display: none;
        }
        .gallery-btn{
            width: 100% !important;
            font-size: .8rem;
        }
    }
}

@media (max-width: 650px){
    .current-appeals{
        h2{
            font-size: 1rem;
        }
        .event-tilt{
           
            .gallery-btn{
                font-size: .5rem;
            }
        }
    }
    
}
